<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/font-awesome/5.15.2/css/all.css}">
</head>

<body>

	<div class="container-fluid mt-4">
		<div class="h3 text-center">Welcome to Travel World</div>
		<div class="h5 text-center text-muted">Check booking list below</div>

		<div class="row mr-4 ml-4 mt-2">
			<a th:href="@{/addTrip}" class="mr-2 mt-2">
				<button class="btn btn-light">
					<i class="fa fa-plus-circle mr-2"></i>Add Trip
				</button>
			</a>
			<div class="col-md-6 col-12 ml-auto p-0 mt-2">
				<i class="fa fa-search mr-2"
					style="position: absolute; top: 25%; padding: 2px 5px 2px 8px; color:#84757d;"></i>
				<input
					id="myInput" type="text" style="padding-left: 28px;"
					class="form-control" placeholder="Search..">
			</div>
		</div>

		<div class="row ml-0 mr-0">
			<table class="table table-striped m-4"
				style="border: 1px solid #dee2e6;">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col"><i class="fa fa-user mr-2"></i>First Name</th>
						<th scope="col"><i class="fa fa-user mr-2"></i>Last Name</th>
						<th scope="col"><i class="fa fa-suitcase-rolling mr-2"></i>Trip
							Type</th>
						<th scope="col"><i class="fa fa-plane-arrival mr-2"></i>Trip
							Destination</th>
						<th scope="col"><i class="fa fa-plane-departure mr-2"></i>Trip
							Origin</th>
						<th scope="col"><i class="fa fa-calendar-day mr-2"></i>Trip
							Date</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:each="trip,iterator : ${trips}">
						<th scope="row" th:text="${iterator.count}"></th>
						<td th:text="${trip.firstName}"></td>
						<td th:text="${trip.lastName}"></td>
						<td><span th:if="${trip.tripType == 'roundTrip'}"><i
								class="fa fa-retweet mr-2"></i>Round Trip</span> <span
							th:unless="${trip.tripType == 'roundTrip'}"><i
								class="fa fa-location-arrow mr-2"></i>One Way</span></td>
						<td
							th:text="${trip.destination.city} + ' - ' + ${trip.destination.stateName}"></td>
						<td
							th:text="${trip.origin.city} + ' - ' + ${trip.origin.stateName}"></td>
						<td class="tripDate" th:text="${trip.tripDate}"
							data-inputmask="'alias': 'email'"></td>
					</tr>
				</tbody>
			</table>
			<span class="m-auto ml-4 mr-4 font-weight-bold"
				th:if="${#lists.isEmpty(trips)}">No Records found</span>
		</div>

	</div>



	<script type="text/javascript"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{assets/inputmask/jquery.inputmask.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery-dateFormat/dateFormat.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery-dateFormat/dateFormat.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery-dateFormat/jquery-dateFormat.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery-dateFormat/jquery-dateFormat.min.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {

			$(".tripDate").each(function(index) {

				console.log(index + ": " + $(this).text());

				var tripDate = Date.parse($(this).text());

				console.log(tripDate);

				$(this).text($.format.date(tripDate, "dd MMM yyyy"));
			});

			// set an element
			//   $(".tripDate").val( new Date($(".tripDate").val()).format('MMM D, YYYY') );

		});
	</script>

	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>

</body>

</html>